$color-white : #fff;
$color-light-grey : rgb(239 243 244);
$color-light-grey-hover : rgb(230 236 237);
$color-grey : #536471;
$color-black : #14171a;

$tweet-action-blue: #1DA1F2;
$tweet-action-blue-hover: #1290df;

$action-vlight-blue: rgb(218 232 240);

$background-light-grey : #999999;

$light-grey-border : 0.1px solid rgb(231 231 232);
$light-blue-border : 1.5px solid rgb(29 161 242);